<ul class='data'><li>
<p>
   <img src='../static/images/flof.png'/> flof.com.ar let you save, share and discover places around the world.
</p>
<p  style='text-align: justify;'>
  <a href="http://iphone.flof.com.ar/">iphone.flof.com.ar</a> is mashup of flof,
that let you access its infomation in a mobile environment</a>.
 iphone.flof.com.ar and flof.com.ar are developed by <a
 href="http://www.zauber.com.ar">Zauber S.A.</a> 
<img src='../static/images/zauber-flof-small.png'/>
</p>


<p style='text-align: justify;'>The places of flof.com.ar are distributed under the
 <a rel="license"
 href="http://creativecommons.org/licenses/by-sa/2.5/ar/deed.es_AR"
 target="blank">Creative Commons Attribution-ShareAlike 2.5 Argentina
 License</a>, and the "View Streets" maps are a derivate work of 
 <a href="http://www.openstreetmap.org/">OpenStreetMap</a> and are distributed
 under the 
 <a rel="license"
 href="http://creativecommons.org/licenses/by-sa/2.0/"
 target="blank">Creative Commons Attribution-Attribution-Share Alike 2.0
 Generic</a>.
</p>
</li></ul>
