<p>Licenced under the <a
href="http://www.gnu.org/licenses/agpl.html">AGPL 3</a>. <a href="https://code.zauber.com.ar/repos/sandbox/iphone/flof/">Get
the source</a>!</p>
     <div id='optionpanel' style="display: none">
        <form action='/search/'>
            <div>
              <input type="text" name="t" value="" id="some_name"/>
              <input type="submit" value="search"/>
            </div>
        </form>
        <a href="#" class="white button">B</a>
        <a href="#" class="red button" id='menuHide'>Hide</a> 
        <a class="black button" href="/">Back to index</a>
    </div>
</body>
</html>
