<p>Licenced under the <a
href="http://www.gnu.org/licenses/agpl.html">AGPL 3</a>. <a href="https://code.zauber.com.ar/repos/sandbox/iphone/flof/">Get
the source</a>!</p>
     <div id='optionpanel' style="display: none">
        <a href="/near/" class="white button">Find Places Near...</a>
        <a href="/search/" class="white button">Find Places By...</a>
        <a href="/recent/" class="white button">Browse Recent Places</a>
        <a class="black button" href="/">Back to index</a>
        <a href="#" class="red button" id='menuHide'>Hide</a> 
    </div>
    <div id="menuLoad"><img src="/static/images/loading.gif" /><br/>Loading</div>
</body>
</html>
