$def with (back=None)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; " />
 <title>flof.com.ar</title>
 <link rel="stylesheet" href="/static/stylesheets/iphone.css?v=$version" />
 <link rel="apple-touch-icon" href="/static/images/flof.png?v=$version" />
 <link rel="shorcut icon" href="/static/favicon.ico"/> 
 <script type='text/javascript'  src='/static/js/mootools-1.2-core-yc.js'></script>
 <script type='text/javascript' src='/static/js/header.js?v=$version'></script>
</head>

<body>
 <div id="header">
     <h1>flof.com.ar</h1>
     $if back: <a href="$back" id="backButton">Back</a>
     <a class="nav Action" id='menu'>Menu</a>
 </div>
