$def with (geoinfo)
<ul class="profile">
    <li class="picture"  style='background: #fff url(/image/thumbnail/$geoinfo['id']/) no-repeat !important;' /><a href="/image/html/$geoinfo['id']/"></a></li>
    <li class="clearfix">
        <h2>$geoinfo['name']</h2>
        <p>click image to see the streets</p>
    </li>
</ul>

<ul class="field">
    $if len(geoinfo['geocoding']):
        <li><h3>Address</h3>
            <big>
                $for geocoding in geoinfo['geocoding']: $geocoding <br/>
            </big>
        </li>
    $if len(geoinfo['urls']):
        <li class="arrow"><h3>Links</h3>
            <big>
                $for url in geoinfo['urls']: <a href="$url">$url</a><br/>
            </big>
        </li>
    <li class="arrow"><h3>Location</h3>
        <big>
          <a href="http://www.google.com/maps?ll=$geoinfo['lat'],$geoinfo['lon']">View in Maps</a>
        </big>
    </li>
    <li class="arrow">
         <h3>&nbsp;</h3>
         <big><a href="../../near/?lat=$geoinfo['lat']&lon=$geoinfo['lon']">Places near...</a>
         </big>
    </li>

    <li class="arrow">
         <h3>Labels</h3>
         <big>
            $for label in geoinfo['labels']: <a href="../../label/$label/">$label</a>
         </big>
    </li>

</ul>

$if len(geoinfo['reviews']):
    <h1>Reviews</h1><ul class="data">
            $for review in geoinfo['reviews']: <li><p> $review['text']<br/>  -- <a href='../../user/$review['owner']/'>$review['owner']</a> on $review['date'].strftime('%F') </p></li>
    </ul>

$if len(geoinfo['photos']):
    <h1>Photos</h1>
    <ul><center>
    $for photo in geoinfo['photos']: <li><a href="$photo['url']"><img src='$photo['thumb']'/></a></li>
    </center></ul>
