    <h1>Welcome to <a href="http://flof.com.ar/">flof.com.ar</a> for iPhone</h1>
            
    <ul>
        <li class="arrow"><a href="near/">Find places near...</a></li>
        <li class="arrow"><a href="search/">Find places by...</a></li>
        <li class="arrow"><a href="recent/">Browse recent places...</a></li>
    </ul>
    
    <ul>
        <li class="arrow"><a href="about/">About</a></li>
        <li class="arrow"><a href="tips/">Tips and Tricks</a></li>
        <li class="arrow"><a href="http://flof.com.ar/bin/home/">Go to
        flof.com.ar</a></li>
    </ul>
