
<h1>Search by Text...</h1>
<ul class="data">
  <li>
    <form name='textForm'  id='js-search'>
       <input name='t'/>
       <input type='submit' />
    </form>
  </li>
</ul>



<h1>Search by Label...</h1>
<ul class="data">
  <li>
    <form action='../label/' id='labelForm' name="labelForm">
       <input name='l'/>
       <input type='submit' />
    </form>
  </li>
</ul>


<h1>Search by User...</h1>
<ul class="data">
  <li>
    <form action='../user/' id='userForm' name="userForm">
       <input name='l'/>
       <input type='submit' />
    </form>
  </li>
</ul>
