<h1>Tips and Tricks</h1>
<ul class='data'><li>
<p style='text-align: justify;'>
<tt>iphone.flof.com.ar</tt> is great to find places near a known location (for example
<em>Santa Fe y Callao</em> or <em>Corrientes 400</em>). But what happens if you
don't know where you are located?<p>

<p style='text-align: justify;'>It's not an issue! Just launch the <em>Maps Application</em> use the GPS to locate the position or browse the map to the location and in the <em>Search Box</em> type <strong>http://i.flof.com.ar</strong> (don't forget to type
<strong>http://</strong> part). This will display all the places tagged in flof
for the location. If you change the position of the map just set the focus to
the Search Box, and hit the search button again.
</p>
<p>
  <img src="../static/images/iflof.jpg?v=$version"/>
</p>
</ul>
